//==================================================| Variables |==================================================\\
//==============================| Color
// Primary
$color-primary-lightest: #FFDDB8;
$color-primary-light: #FFB95F;
$color-primary: #F59E0B;
$color-primary-dark: #EE9800;
$color-primary-darkest: #A76A00;
$color-primary-bg: #FFEEDE;

// Secondary
$color-secondary-lightest: #3C475A;
$color-secondary-light: #263143;
$color-secondary: #1E293B;
$color-secondary-dark: #111C2D;
$color-secondary-darkest: #000000;
$color-secondary-bg: #ECF1FF;

// Greed
$color-green-bg: #d1fadf;
$color-green-lightest: #6ce9a6;
$color-green-light: #32d583;
$color-green: #12b76a;
$color-green-dark: #039855;
$color-green-darkest: #027a48;
$color-green-bg: #e7f8f2;

// Red
$color-red-bg: #fee4e2;
$color-red-lightest: #fda29b;
$color-red-light: #f97066;
$color-red: #f04438;
$color-red-dark: #d92d20;
$color-red-darkest: #b42318;

// Orange
$color-orange-lightest: #fdb022;
$color-orange-light: #fdb022;
$color-orange: #f79009;
$color-orange-dark: #dc6803;
$color-orange-darkest: #b54708;
$color-orange-bg: #fef5e6;

// Blue
$color-blue-lightest: blue;
$color-blue-light: blue;
$color-blue: blue;
$color-blue-dark: blue;
$color-blue-darkest: blue;

// Gray
$color-gray-bg: #f8fafc;

// Black and White
$color-white: #ffffff;
$color-black: #000000;

// Color Text
$color-text-01: #1a1a1a;
$color-text-02: #6b7280;
$color-text-03: #bcbfc5;

// Color border
$color-border-lightest: #f0f0f0;
$color-border-light: #e0e0e2;
$color-border: #c0c2c5;
$color-border-dark: #a1a3a8;
$color-border-darkest: #81858b;

// Background level
$color-bg-0: $color-white;
$color-bg-1: $color-white;
$color-bg-2: $color-white;
$color-bg-3: $color-white;

//==============================| Table
$table-header: $color-primary-light;
$table-header-hover: $color-primary;
$table-row-dark: rgba($color:#eee, $alpha:0.8);
$table-row-light: rgba($color:#eee, $alpha:0.4);
$table-row-hover: rgba($color:#aaa, $alpha:0.3);

//==============================| Border Radius
$radius-sm: 6px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-xl: 16px;

//==============================| Font Size
$font-xs:  11px;
$font-sm:  12px;
$font-md:  14px;
$font-lg:  16px;
$font-xl:  18px;
$font-2xl: 22px;
$font-3xl: 28px;
$font-4xl: 32px;
$font-5xl: 48px;

//==============================| Shadow
$box-shadow-01: 0 0 10px rgba(#000, 0.1);

$box-shadow-primary-01: 0 0 10px 5px rgba($color-primary, 0.2);

//==================================================| Fonts |==================================================\\
@font-face{
    font-family:'iran-yekan';
    font-weight: normal;
    src: url('../../../public/plugin/Fonts/IRANYekan/IRANYekanRegularFaNum.ttf') format('truetype');
}

//==================================================| Tags |==================================================\\
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: iran-yekan, serif;
    font-size: $font-md;
    color: $color-text-01;
    background-color: $color-white;
    scroll-behavior: smooth;
    //line-height: 1.7;
    direction: rtl;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
}
input, textarea, select {
    font-family: inherit;
    outline: none;
}
textarea{
    width: 100%;
    min-height: 50px;
    resize: none;
}
input[type='text'],select{
    width: 100%;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
}
input[type='radio']{
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-size: inherit;
}
ul, ol {
    list-style: none;
}
img {
    max-width: 100%;
    display: block;
}
//==============================| scrollbar
::-webkit-scrollbar{
    width:6px;
    border-left:1px solid #E6ECF8;
}
::-webkit-scrollbar-thumb{
    background-color: $color-primary;
}

//==================================================| General Classes |==================================================\\
.middle{
    margin: 0 auto;
}
.hyper-link{
    color: $color-blue;
    text-decoration: underline;
}
.price-toman{
    &:after{
        content: 'تومان';
        padding: 3px;
        font-weight: normal!important;
        font-size: $font-md;
    }
}
//==============================| overlay
.overlay {
    width: 100%!important;// neshan override
    height: 100%!important;// neshan override
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed!important;// neshan override
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7)!important;// neshan override
    user-select: none;
    z-index: 10;
    border-radius: 0 !important;// neshan override
    box-shadow: none;// neshan override
    transition: none;// neshan override
    font-weight: normal;// neshan override

    &:has(div){
        display: flex;
    }
}
.overlay-loading {
    display: flex;
    z-index: 20;
}
//==============================| Hamburger
.hamburger-button {
    width: 45px;
    position: relative;
    cursor: pointer;
    text-align: center;
    transition: all .2s ease-out;
    user-select: none;
    z-index: 1;

    %ham-bar{
        display: block;
        position: absolute;
        transition: all .2s ease-out;
        border-radius: 5px;
        background-color: $color-text-01;
        user-select: none;
        z-index: -1;
    }
    &:hover{
        %ham-bar{
            background-color: $color-primary;
        }
    }

    .ham-bar {
        width: 23px;
        height: 2px;
        top: 22px;
        left: 11px;
        @extend %ham-bar;

        &:before, &:after{
            content: "";
            width: 100%;
            height: 100%;
            @extend %ham-bar;
        }
        &:before{ top: 9px; }
        &:after{ top: -9px; }
    }
    .ham-btn{
        width: 40px;
        height: 40px;
        display: block;
        cursor: pointer;
        opacity: 0;
        z-index: 2;

        &:checked ~ .ham-bar{
            background-color: transparent;

            &:before{
                top: 0;
                transform: rotate(-45deg);
            }
            &:after{
                top: 0;
                transform: rotate(45deg);
            }
        }
    }
}
//==============================| label{
.label-primary{
    color: $color-primary;
    background-color: $color-primary-bg;
}
.label-secondary{
    color: $color-secondary;
    background-color: $color-secondary-bg;
}
.label-green{
    color: $color-green;
    background-color: $color-green-bg;
}
.label-red{
    color: $color-red;
    background-color: $color-red-bg;
}
.label-orange{
    color: $color-orange;
    background-color: $color-orange-bg;
}
//==============================| Form
form{
    &:has(>.form-container){
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
//==============================| Inputs
[class*="custom-input"]{
    border-radius: 5px;
    border: solid 1px $color-border-light;
    outline: none;
}
//==============================| Custom Buttons
[class*="custom-button"],[class*="custom-icon"]{
    text-align: center;
    border: none;
    border-radius: 5px;
    transition: all 0.2s;
    cursor: pointer;
    user-select: none;

    &:focus{ outline: none; }
    i{
        color: inherit;
        vertical-align: middle;

        &.icon-right{ margin-left: 10px; }
        &.icon-left{ margin-right: 10px; }
    }
}
[class*="custom-button"]{
    height: 42px;
    line-height: 40px;
    padding: 0 15px;
    display: inline-block;
}
a[class*="custom-button"]{
    line-height: 38px;
}
[class*="custom-icon"]{
    width: 40px;
    min-width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

//------------------------------| normal
.custom-button, .custom-icon{
    color: $color-text-01;
    background-color: transparent;
    border: solid 1px $color-border-light;

    &:hover{
        color: $color-white;
        background-color: $color-primary;
    }
    &:active{
        color: $color-white;
        background-color: $color-primary-dark;
    }
}
//------------------------------| primary
.custom-button-primary, .custom-icon-primary{
    color: $color-white;
    background-color: $color-primary;

    &:hover{   background-color: $color-primary-dark;   }
    &:active{   background-color: $color-primary-darkest;   }
}
//------------------------------| secondary
.custom-button-secondary, .custom-icon-secondary{
    color: $color-white;
    background-color: $color-secondary;

    &:hover{   background-color: $color-secondary-dark;   }
    &:active{   background-color: $color-secondary-darkest;   }
}
//------------------------------| green
.custom-button-green, .custom-icon-green{
    color: $color-white;
    background-color: $color-green;

    &:hover{   background-color: $color-green-dark;   }
    &:active{   background-color: $color-green-dark;   }
}
//------------------------------| red
.custom-button-red, .custom-icon-red{
    color: $color-white;
    background-color: $color-red;

    &:hover{   background-color: $color-red-dark;   }
    &:active{   background-color: $color-red-dark;   }
}
//------------------------------| transparent text
.custom-button-trans-text, .custom-icon-trans-text{
    background-color: transparent;
    border: solid 1px transparent;

    &:hover{
        color: $color-primary;
        border-color: $color-primary;
    }
    &:active{
        color: $color-white;
        background-color: $color-primary;
    }
}
//------------------------------| transparent text
.custom-button-trans-primary-text, .custom-icon-trans-primary-text{
    color: $color-primary;
    background-color: transparent;
    border: solid 1px transparent;

    &:hover{
        border-color: $color-primary;
    }
    &:active{
        color: $color-white;
        background-color: $color-primary;
    }
}
//------------------------------| transparent primary
.custom-button-trans-primary, .custom-icon-trans-primary{
    color: $color-primary;
    border: solid 1px $color-primary;

    &:hover{
        color: $color-white;
        background-color: $color-primary;
    }
    &:active{
        color: $color-white;
        background-color: $color-primary;
    }
}
//------------------------------| transparent secondary
.custom-button-trans-secondary, .custom-icon-trans-secondary{
    color: $color-secondary;
    border: solid 1px $color-secondary;

    &:hover{
        color: $color-white;
        background-color: $color-secondary;
    }
    &:active{
        color: $color-white;
        background-color: $color-secondary;
    }
}
//------------------------------| transparent green
.custom-button-trans-green, .custom-icon-trans-green{
    color: $color-green;
    border: solid 1px $color-green;

    &:hover{
        color: $color-white;
        background-color: $color-green;
    }
    &:active{
        color: $color-white;
        background-color: $color-green;
    }
}
//------------------------------| transparent red
.custom-button-trans-red, .custom-icon-trans-red{
    color: $color-red;
    border: solid 1px $color-red;

    &:hover{
        color: $color-white;
        background-color: $color-red;
    }
    &:active{
        color: $color-white;
        background-color: $color-red;
    }
}
//==============================| Button Container
[class*="button-container"]{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;

    [class*="custom-button"]{
        min-width: 150px;
    }
}
.button-container-center{ justify-content: center; }
.button-container-left{ justify-content: flex-end; }
.button-container-right{ justify-content: flex-start; }
//==============================| Form Container
.form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    &[data-legend]{
        padding: 30px 20px;
        border: solid 1px $color-border-light;
        border-radius: 10px;
        position: relative;

        &:before{
            content: attr(data-legend);
            padding: 0 10px;
            position: absolute;
            top: -15px;
            right: 15px;
            background-color: $color-white;
            color: $color-text-02;
        }
    }

    & > li{
        position: relative;

        &:before, &:after{
            padding: 0 5px;
            line-height: 12px;
            position: absolute;
            font-size: $font-sm;
            background-color: $color-white;
            z-index: 1;
        }
        //------------------------------| before: label
        &:has(
            > input,
            > .vpd-main, // datepicker
            > .multi-input-inline,
            > .arc-input-key-value,
            > .arc-input-checkbox,
            > .arc-select,
            > .arc-address
        ):before{
            content: attr(data-label);
            top: -7px;
            right: 10px;
            color: $color-text-02;
        }
        &:has(>.arc-input-checkbox){
            display: flex;
            flex-direction: row-reverse;
        }
        &:has(> .arc-tooltip-modal){
            &:before{ right: 32px; }
            .arc-tooltip-modal{
                padding: 0 5px;
                position: absolute;
                top: -12px;
                right: 5px;
                background-color: $color-white;
                z-index: 1;
            }
        }
        //------------------------------| after: error
        &[data-error]:not([data-error='']){
            & > input,
            & > select,
            & > .vpd-main .vpd-input-group, //datepicker
            & > .multi-input-inline,
            & > .arc-input-key-value,
            & > .arc-input-checkbox,
            & > .arc-select,
            & > .arc-address
            {
                border: solid 1px $color-red;
            }
            &:after{
                content: attr(data-error);
                bottom: -5px;
                right: 10px;
                color: $color-red;
            }
        }
        //------------------------------| border - focus
        & > input,
        & > select,
        & > .arc-select input{
            border-radius: 5px;
            border: solid 1px $color-border-light;
            outline: none;

            &:focus{
                border-width: 2px;
            }
        }
        .number-to-letter{
            max-width: 95%;
            line-height: 10px;
            padding: 0 5px;
            display: inline-block;
            position: absolute;
            right: 10px;
            bottom: -3px;
            font-size: $font-xs;
            color: $color-text-02;
            background-color: $color-white;
        }
    }

    .grid-full-row{
        grid-column: 1/-1;
    }
}
//==============================| table-container
.table-container{
    overflow: auto;
    border-radius: 5px;

    table{
        border-collapse: collapse;
        overflow: auto;

        thead{
            th{
                padding: 10px 10px 10px 20px;
                position: relative;
                text-align: right;
                cursor: pointer;
                user-select: none;
                background-color: $color-primary;
                color: $color-white;

                &:hover{ background-color: $color-primary-dark; }
                &:not(:last-child){ border-left: solid 1px rgba(0,0,0,0.2); }
                &.sortable:before, &.sortable:after{
                    font-family: "Font Awesome 6 Pro";
                    position: absolute;
                    left: 7px;
                    font-weight: normal;
                }
                &.sortable:before{
                    content: "\f0d7";
                    top: 45%;
                }
                &.sortable:after{
                    content: "\f0d8";
                    bottom: 45%;
                }
                &[class*="order-by"]{
                    background-color: $color-primary-dark;
                    color: $color-white;

                    &.order-by-asc{
                        &:before{
                            content: "\f0d7";
                            top: 45%;
                        }
                        &:after{ display: none; }
                    }
                    &.order-by-desc{
                        &:before{ display: none; }
                        &:after{
                            content: "\f0d8";
                            bottom: 45%;
                        }
                    }
                }
                &.fixed{
                    width: 40px;
                    padding: 10px 5px;
                    font-size: $font-xs;
                    text-align: center;
                }
                &.flexible{

                }
            }
        }
        tbody{
            tr{
                &:nth-child(even){ background-color: $table-row-light; }
                &:nth-child(odd){ background-color: $table-row-dark; }
                &:nth-child(even).table-row-green{ background-color: rgba($color: $color-green, $alpha: 0.2); }
                &:nth-child(odd).table-row-green{ background-color: rgba($color: $color-green, $alpha: 0.4); }
                &:nth-child(even).table-row-red{ background-color: rgba($color: $color-red, $alpha: 0.2); }
                &:nth-child(odd).table-row-red{ background-color: rgba($color: $color-red, $alpha: 0.4); }

                &:hover{ background-color: $table-row-hover; }
                &.selected{ background-color: $color-orange-dark; }

                td{
                    max-width: 100px;
                    padding: 2px 10px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    &:first-child{ width: 35px; }
                    &.order-by{ background-color: rgba(0,0,0,0.3); }
                    &.fixed{
                        width: 30px;
                        padding: 5px;
                        text-align: center;
                    }
                    &.flexible{
                        min-width: 300px;
                        white-space: wrap;
                    }
                    & > a > span{
                        font-size: $font-sm;
                    }
                }
            }
        }
    }
    .no-result{
        padding: 20px;
        text-align: center;
    }
}
//==================================================| Advanced React Component |==================================================\\
//==============================| select
.arc-select{
    width: 100%;
    position: relative;

    .arc-select-input-wrapper{
        position: relative;

        &:after{// down arrow
            content: "\f078";
            font-family: "Font Awesome 6 Pro";
            font-size: $font-xs;
            font-weight: 900;
            position: absolute;
            top: 15px;
            left: 10px;
        }
        input{
            width: 100%;

            &[readonly]{
                user-select: none;
                cursor: pointer;
                &::selection{ background-color: transparent; }
            }
        }
    }
    .arc-select-multiple{
        min-height: 75px;
        padding: 5px;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        background-color: $color-bg-0;
        box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;

        li{
            height: 30px;
            line-height: 30px;
            padding: 0 5px 0 25px;
            display: inline-block;
            position: relative;
            cursor: pointer;
            border-radius: 5px;
            background-color: $color-primary;
            color: $color-white;
            font-size: $font-sm;

            &:before{
                content: "\f00d";
                font-family: "Font Awesome 6 Pro";
                font-weight: 900;
                line-height: 20px;
                text-align: center;
                position: absolute;
                top: 0;
                left: 4px;
            }
            &:last-child{ margin-left: 7px; }
        }
    }

    .arc-select-option{
        width: 100%;
        position: absolute;
        overflow: hidden;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 0 5px #000;
        z-index: 10;
        transition: all 0.15s ease-in;

        &.arc-select-slide-in{
            max-height: 250px;
        }
        &.arc-select-slide-out{
            max-height: 0;
        }
        ul{
            max-height: 250px;
            overflow: auto;
            background-color: $color-bg-0;

            li{
                padding: 7px 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                user-select: none;

                &.arc-select-selectedOption{ background-color: $color-primary-light; }
                &:hover { background-color: $color-primary-lightest; }
                &.arc-select-selected{ background-color: $color-primary!important; }
                input{
                    width: auto;
                    height: auto;
                }
                span:not([title=""]):after{
                    content: "(" attr(title) ")";
                    margin-right: 5px;
                    font-size: $font-sm;
                }
            }
        }
    }
}

//==============================| datatable
.arc-datatable{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .datatable-search{
        .search-database{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .arc-subsection{
            .section-body{
                margin: 0;
            }
            .form-container{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
            }
        }
    }
    .datatable-local-search-paging{
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .search-table{
            input{
                width: 200px;
                height: 40px;
                margin-left: 10px;
            }
        }
        .arc-select{
            width: 100px;
        }
    }
    .table-container{}
    .pagination-container{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
}

//==============================| notification
.arc-notification{
    width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    position: fixed;
    left: 20px;
    bottom: 20px;
    visibility: hidden;
    z-index: 10;

    li{
        width: 100%;
        display: grid;
        grid-template-columns: 60px 1fr;
        position: relative;
        visibility: visible;
        border-radius: 5px;
        background-color: $color-bg-0;//2
        box-shadow: 0 0 5px #000;
        overflow: hidden;
        z-index: 100;

        &.notification-success{
            .notification-lifespan{ background-color: $color-green-darkest; }
            .notification-icon{ background-color: $color-green; }
            .notification-text{ background-color: $color-green-dark; }
        }
        &.notification-warning{
            .notification-lifespan{ background-color: $color-orange-darkest; }
            .notification-icon{ background-color: $color-orange; }
            .notification-text{ background-color: $color-orange-dark; }
        }
        &.notification-error{
            .notification-lifespan{ background-color: $color-red-darkest; }
            .notification-icon{ background-color: $color-red; }
            .notification-text{ background-color: $color-red-dark; }
        }
        .notification-lifespan{
            width: 0;
            height: 3px;
            position: absolute;
            top: 0;
            right: 0;
            animation: notification_lifespan linear forwards;
        }
        .notification-icon{
            display: flex;
            justify-content: center;
            align-items: center;

            i{ font-size: $font-xl; }
        }
        .notification-text{
            padding: 20px 15px;
            font-size: $font-sm;
        }
    }
}
@keyframes notification_lifespan {
    from { width: 0; }
    to { width: 100%; }
}
.notification-enter-active{
    transition: all 0.7s ease;
    animation: bounceInRight 1s;
}
.notification-leave-active{
    transition: all 0.7s ease;
    animation: bounceOutRight 1s;
}
@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {   animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);   }
    from {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }
    75% {   transform: translate3d(-10px, 0, 0);   }
    90% {   transform: translate3d(5px, 0, 0);   }
    to {   transform: none;   }
}
@keyframes bounceOutRight {
    20% {
        opacity: 1;
        transform: translate3d(20px, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }
}
//==============================| membership plan
.arc-membership-plan{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    li{
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: solid 1px $color-border-light;
        border-radius: $radius-lg;
        overflow: hidden;
        text-align: center;
        cursor: pointer;

        &:hover{
            border-color: $color-primary-lightest;
            box-shadow: $box-shadow-primary-01;

            .plan-title, button{
                background-color: $color-primary-lightest;
                color: $color-white;
                border-color: $color-primary-lightest;
            }
        }
        &.active{
            border-color: $color-primary;
            box-shadow: $box-shadow-primary-01;

            .plan-title, button{
                background-color: $color-primary-dark;
                color: $color-white;
                border-color: $color-primary;
            }
        }
        .plan-title, button{
            transition: all 0.3s;
        }
        .plan-title{
            padding: 20px 10px;
            border-bottom: solid 1px $color-border-light;
            font-weight: bold;
            background-color: $color-gray-bg;
        }
        .plan-price{
            font-size: $font-2xl;
            font-weight: bold;
        }
        .plan-description{
            padding: 0 10px;
            color: $color-text-02;
            font-size: $font-sm;
        }
        button{
            margin: 0 10px;
        }
    }
}
//==============================| progress step
.arc-progress-step{
    width: 100%;
    height: 90px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: end;
    counter-reset: progress-step;

    li{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-size: 12px;

        &:before{
            counter-increment: progress-step;
            content: counter(progress-step);
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 30px;
            z-index: 1;
            background-color: $color-gray-bg;
            border: solid 3px $color-border-light;
            border-radius: 50%;
            font-size: $font-lg;
        }
        &:not(:last-child):after{
            content: '';
            width: 100%;
            height: 5px;
            position: absolute;
            bottom: 55px;
            right: 50%;
            background-color: $color-border-light;
        }
        &.progress-pass{
            color: $color-primary;

            &:before{
                content: "\f00c";
                font-family: "Font Awesome 6 Pro";
                font-weight: bold;
                color: $color-white;
                background-color: $color-primary;
                border: solid 3px $color-primary;
            }
            &:after{
                background-color: $color-primary;
            }
        }
        &.progress-active{
            color: $color-primary;

            &:before{
                color: $color-primary;
                border: solid 3px $color-primary;
            }
        }
    }
}
