@use 'shared' as *;

//==================================================| General Class |==================================================\\
.middle{
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.accent-text{
    color: $color-primary;
}
.section-block{
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-detail{
    margin-bottom: 50px;

    h2{
        margin-bottom: 10px;
        text-align: center;
    }
    .section-description{
        max-width: 60%;
        margin: 0 auto;
        text-align: center;
    }
}
.page-detail{
    padding: 60px 0;

    h1{
        margin-bottom: 10px;
        text-align: center;
    }
    .page-description{
        max-width: 60%;
        margin: 0 auto;
        text-align: center;
    }
}
//==================================================| Layout |==================================================\\
body #app{
    & > header{
        width: 100%;
        box-shadow: 0 0 10px rgba(#000, 0.2);

        .middle{
            display: grid;
            grid-template: 80px / auto 1fr auto;
            align-items: center;
            gap: 10px;

            .logo{
                display: flex;
                align-items: center;

                img{
                    width: 50px;
                }
            }
            nav{
                width: 100%;
                margin-right: 20px;

                ul.nav-root{
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                }
            }
            .user-menu-wrapper{
                .viewer-menu{
                    display: flex;
                    gap: 10px;
                }
                .user-menu{
                    display: none;
                }
            }
        }
    }
    & > footer{
        background-color: $color-secondary;
        color: #fff;

        section.detail{
            padding: 80px 0 50px;

            .middle{
                display: grid;
                grid-template-columns: 2fr 1fr 1fr 1fr;
                gap: 50px;
                color: $color-text-03;

                .about{
                    img{
                        width: 80px;
                        margin-bottom: 20px;
                    }
                }
                .quick-link, .contact, .badge{
                    span{
                        margin-bottom: 10px;
                        display: block;
                        font-size: $font-lg;
                        color: $color-primary;
                    }
                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        i{
                            margin-left: 10px;
                            font-size: $font-xl;
                            color: $color-primary;
                        }
                    }
                    ul.social-media{
                        margin-top: 20px;
                        flex-direction: row;

                        i{
                            font-size: $font-2xl;
                        }
                    }
                    ul.badge{
                        flex-direction: row;
                    }
                }
            }
        }
        section.footer-bottom{
            padding: 20px;
            text-align: center;
            background-color: $color-secondary-dark;
        }
    }
}
//==================================================| Pages |==================================================\\
//==================================================| Index
main.index{
    section.hero{
        background-color: #131f2f;

        .middle{
            height: 600px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 20px;
            position: relative;

            img{
                height: 100%;
                position: absolute;
                z-index: 0;
            }
            div{
                max-width: 420px;
                margin-right: 100px;
                color: #fff;
                position: relative;

                h1{
                    margin-bottom: 20px;
                    font-size: $font-5xl;
                    color: $color-primary;
                }
                p:first-of-type{
                    margin-bottom: 10px;
                    font-size: $font-2xl;
                }
            }
        }
    }
    section.benefit{
        ul.benefit-list{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 40px;

            li{
                padding: 30px 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                border-radius: $radius-md;
                box-shadow: $box-shadow-01;

                i{
                    padding: 20px;
                    border-radius: $radius-md;
                    font-size: $font-2xl;
                }
                div{
                    font-weight: bold;
                }
                p{
                    font-size: $font-sm;
                    color: $color-text-02;
                    text-align: center;
                }
            }
        }
    }
    section.chain-supply{
        background-color: $color-gray-bg;

        .middle{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            .section-detail{
                h2, p {
                    text-align: right;
                }
            }
            img{
                border-radius: $radius-md;
                box-shadow: $box-shadow-01;
                position: relative;
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 10px;

                li{
                    padding: 20px;
                    display: grid;
                    grid-template:
                        "i h" auto
                        "i p" auto / auto 1fr;
                    gap: 0 20px;
                    border: solid 1px $color-border-light;
                    border-radius: $radius-md;

                    i{
                        grid-area: i;
                        width: 60px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: $radius-md;
                        font-size: $font-2xl;
                    }
                    h3{
                        grid-area: h;
                    }
                    p{
                        grid-area: p;
                        color: $color-text-02;
                    }
                }
            }
        }
    }
    section.register{
        background-color: $color-primary-dark;

        .middle{
            color: $color-white;
            text-align: center;

            h2{
                font-size: $font-3xl;
                margin-bottom: 10px;
            }
            button{
                height: max-content;
                margin-top: 30px;
                padding: 10px 30px;
                font-size: $font-lg;
                border-radius: $radius-lg;
            }
        }
    }
}
//==================================================| About
//==================================================| Contact
//==================================================| Term
//==================================================| Register
main.register{
    section.user-register{
        .step-form{
            padding: 0 200px;
            display: flex;
            flex-direction: column;
            gap: 50px;

            //.arc-membership-plan{}
            .user-detail{
                width: 400px;
                margin: 0 auto;
                padding: 20px;
                border: solid 1px $color-border;
                border-radius: $radius-lg;

                .user-detail-title{
                    padding-bottom: 10px;
                    border-bottom: solid 1px $color-border;

                    h2{
                        font-size: $font-lg;
                    }
                    p{
                        color: $color-text-02;
                        font-size: $font-sm;
                    }
                }
                ul.form-container{
                    margin-top: 20px;
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}
//==================================================| bank callback
main.bank-callback{
    section.callback-result{
        & > div{
            margin: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            text-align: center;

            img{
                width: 100px;
            }
        }
    }
}
